/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
*.log
